html, body {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 42em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: #555;
}

input, textarea, a, button {
  outline:none;
  text-decoration: none;
}

/* LOGIN */
#auth-container {
  background-color: #ededed;
  width: 100%;
  text-align: center;
  padding: 36px 16px 0;
}
#auth-container #main-logo {
  display: block;
  margin: 0 auto 16px;
  padding: 0 28px 16px;
  width: 120px;
  border-bottom: 1px solid #dedede;
}
#auth-container input {
  display: block;
  margin: 0 auto 8px;
  padding: 0 4px;
  height: 32px;
  font-size: 14px;
  background-color: #f5f5f5;
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid #cdcdcd;
}
#auth-container input:focus,
#auth-container input:valid {
  background-color: #fff;
}
#auth-container button {
  display: block;
  cursor: pointer;
  margin: 16px auto 0px;
  padding: 8px 0;
  width: 174px;
  border-radius: 0;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #00a2db;
  -webkit-appearance: none;
}

#auth-container button:hover {
  opacity: .7;
}
#auth-container #forgot {
  display: block;
  color: #00a2db;
  margin-top: 16px;
  border-top: 1px solid #dedede;
  padding: 16px;
}
#auth-container #forgot:hover {
  opacity: .7;
}
/* MAIN */
#main-container {
  width: 100%;
  margin: 0 16px;
}

.content-header {
  background: #ededed;
  position: relative;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #dedede;
}
.content-header h2 {
  position: absolute;
  margin: 0;
  left: 16px;
}
.content-header .reconnect {
  position: absolute;
  width: 7em;
  right: 7em;
  top: 0;
}
.content-header .logout {
  position: absolute;
  width: 7em;
  right: 0;
  top: 0;
}
.content-header .logout a, .content-header .reconnect a {
  color: #888;
  background-color: white;
  padding: 4px 16px;
  text-transform: none;
  text-decoration: none;
  border-radius: 12px;
}
.content-header .logout a:hover, .content-header .reconnect a:hover {
  color: white;
  background-color: #ccc;
  text-transform: none;
  text-decoration: none;
}

#content-container {
  width: 100%;
  padding: 0 16px;
}
#content-container .column {
  display: inline-block;
  width: 22.1333%;
  margin: 8px 1%;
  padding: 0;
  top: 0;
  vertical-align: top;
  height: 98px;
  border-right: 1px solid #ededed;
}
#content-container .column:last-child {
  border-right: 0;
}
#content-container .column h2 {
  font-size: 36px;
  margin: 8px 0;
}
#content-container .column h2.success {
  color: green;
}
#content-container .column h2.failed {
  color: red;
}
#content-container .column h2.pending {
  color: lightblue;
}
#content-container .column h2.challenge {
  color: orange;
}
#content-container .column p {
  width: 20px;
  color: #888;
  margin-top: -4px;
}

#list-container {
  width: 100%;
}
#list-container .list-header {
  border: solid #dedede;
  /*background-color: #fbfbfb;*/
  border-width: 1px 0 1px;
  margin: 4px 16px 0;
}
#list-container .list-header p {
  display: inline-block;
  font-weight: bold;
}

#list-container .list-content ul {
  padding: 0 16px;
  margin: 4px;
}
#list-container .list-content ul li {
  list-style: none;
}
#list-container .list-content ul li p {
  display: inline-block;
  font-weight: normal;
}

#list-container .list-header p.time,
#list-container .list-content p.time {
  width: 22.1333%;
  margin: 4px 1%;
}
#list-container .list-header p.amount,
#list-container .list-content p.amount {
  width: 22.1333%;
  margin: 4px 1%;
}
#list-container .list-header p.reason,
#list-container .list-content p.reason {
  width: 44.2666%;
  margin: 4px 2%;
}

#list-container .see-all {
  width: 100%;
  text-align: center;
  border-top: 1px solid #dedede;
  margin-top: 8px;
}
#list-container .see-all a {
  display: block;
  color: #555;
  padding: 8px 16px;
  background-color: #ededed;
  vertical-align: middle; 
  font-weight: bold;
  text-decoration: none;
}
#list-container .see-all a:hover {
  background-color: #dedede;
}

/* DISPLAY */
.not-visible {
  display: none;
}


/*
#auth-container {
  flex: 1 1 0;
  width: auto;
  width: 24em;
}

#content-container {
    margin-top: 3.5em;
}

#form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #ffffff;
  border-radius: 1em;
  border: 1px solid #e3e3e3;
  padding: 2em;
}

#form-login input {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 5px;
  padding: 0.25em 0 0 0;
  line-height: 2em;
}

#form-login input:first-child {
  margin-top: 5px;
}

#main-logo {
  width: 70%;
}

.border--sky-blue {
  border-color: #00428A;
}

.border--sky-blue:focus {
  border-color: #00AEE7;
}

.buttons--full-width {
  width: 100%;
}

.container--padded {
    margin: 1rem;
}

.container--not-visible {
    display: none;
}

.container--visible {
    display: inline-block;
}

.container--full-width {
    width: 40em;
}

.content--has-no-margin {
    margin: 0px !important;
}

.input--left-bottom-border {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.text--three-em {
  font-size: 3em;
}

.text--center {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

.column--has-divider {
    border-right: 1px solid #555555;
}

.column--has-divider:last-child {
    border-right: 0px;
}
